{% extends 'base.html' %}
{% block content %}
<div>
    {% if state == 'Error' %}
    <script>
        alert("오류입니다.");
    </script>
    {% elif state == 'True'%}
    {% else %}
    <script>
        alert('{{ name }}님의 예약정보입니다.\n 날짜/시간 : {{ date }}, {{ hour }}시\n 병원 : {{ hosp }}병원\n 백신 : {{ vac }}')
    </script>
    {% endif %}
    
</div>
<div class='container'>
    <h3 class="my-3 border-bottom pb2">코로나 백신 예약 조회/취소하기</h3>
    <form method='post' class='post-form my-3'>
        {% csrf_token %}
        <p>예약 정보를 조회하기 위하여 아래 항목을 입력해주세요.</p>
        <table class="table table-striped-columns">
            <tbody>
                <tr>
                    <th scope="col">
                        <label for="patnam">예약번호</label>
                        <i class="reqire">*</i>
                    </th>
                    <th scope="col">
                        <input type="text" name="ID" id="ID" maxlength="80"><br>
                    </th>
                </tr>
            </tbody>
        </table>
    <br>
    <br>
    <div class="btn-group gap-2 d-md-flex justify-content-md-end">
        <button type='submit' class='btn btn-secondary btn-lg' formaction="{% url 'pybo:reservation_delete' %}">예약 취소</button>
        <button type='submit' class='btn btn-primary btn-lg' formaction="{% url 'pybo:reservation_check' %}">예약 조회</button>
    </div>
    </form>
</div>

{% endblock %}