{% extends 'base.html' %}
{% block content %}
 
<section id="section-contents">
    <div class="wrap-cts">
      <div class="content-box support">
        <div class="banner-support support01">
          <h3><strong>코로나19 예방접종!</strong> 온라인 예약 어려우신가요?</h3>
          <h4>차근차근~ 안내해드리겠습니다!</h4>
        </div><!-- //banner-support -->
        <div id="tab-support">
          <ul class="tab-lang clearfix">
            <li class="active"><a href="#lang-kr">한국어 버전(Korean) 바로가기</a></li>
            <li><a href="#lang-en">영문 버전(English) 바로가기</a></li>
          </ul><!-- //tab-lang -->
          <div id="lang-kr" class="wrap-support">
            <h3 class="h3">코로나19 예방접종 온라인 예약방법 안내</h3>
            <p>코로나19 예방접종 온라인 예약은 코로나19 예방접종 사전예약 시스템 홈페이지(ncvr.kdca.go.kr)에서(웹, 모바일 모두 접속 가능) 진행 가능하며, 총 2단계 과정을 통해 온라인 예약이 완료됩니다.</p>
            <div class="step-onilne">
              <ol class="clearfix">
                <li>
                  <dl>
                    <dt>
                      <em>1</em>
                      <p>본인인증</p>
                    </dt>
                    <dd>5가지 인증방법 중 선택하여 본인인증</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>
                      <em>2</em>
                      <p>개인정보 입력</p>
                    </dt>
                    <dd>대상자 확인 및 의료기관 예약진행</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>
                      <em>3</em>
                      <p>예약정보 확인</p>
                    </dt>
                    <dd>입력된 예약정보 확인</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>
                      <em>4</em>
                      <p>예약정보 전송</p>
                    </dt>
                    <dd>홈페이지를 통해 예약 정보 확인 및 취소 가능</dd>
                  </dl>
                </li>
              </ol>
            </div><!-- //step-onilne -->
            <h4 class="title-step"><strong>1단계</strong>예약정보 입력</h4>
            <div class="support-step clearfix">
              <div class="step-left">
                <img src="/cobk/images/egovframework/rte/rsrv/step01-1.jpg" alt="본인인증 화면">
                <img src="/cobk/images/egovframework/rte/rsrv/step01-2.jpg" alt="본인인증 후 개인정보 입력 화면">
              </div>
              <div class="step-right">
                <h5>01 본인인증</h5>
                <ul class="certif02">
                  <li>5가지 인증방법 중 하나를 선택하여 본인인증을 진행</li>
                  <li>제공되는 인증방법은 <span>① 네이버인증, ② 카카오인증, ③ PASS인증, ④공동인증서, ⑤ 휴대폰인증</span> 가능<br />※ 공동인증서는 유효기간 확인 필수</li>
                </ul>
                <h5>02  본인인증 후 개인정보 입력</h5>
                <ul class="certif02">
                  <li>본인인증 후 성명, 주민등록(외국인 등록)번호, 휴대폰번호를 입력한 후 <span>&lsquo;대상자확인&rsquo;</span> 버튼을 클릭</li>
                  <li>대상자 확인 후 의료기관과 예약일시를 선택하고 <span>&lsquo;예약&rsquo;</span> 버튼을 눌러 예약 진행</li>
                </ul>
              </div><!-- //step-right -->
            </div><!-- //support-step -->
            <h4 class="title-step"><strong>2단계</strong>예약완료 안내</h4>
            <div class="support-step clearfix">
              <div class="step-left">
                <img src="/cobk/images/egovframework/rte/rsrv/step02-1.jpg" alt="예약완료 안내화면">
                <img src="/cobk/images/egovframework/rte/rsrv/step02-2.jpg" alt="휴대폰으로 예약정보 전송">
              </div>
              <div class="step-right">
                <h5>01 예약완료 안내화면</h5>
                <ul class="certif02">
                  <li>2단계(예약완료 안내) 화면에서는 1단계를 통하여 입력된 예약정보 확인 가능</li>
                </ul>
                <h5>02 휴대폰으로 예약정보 전송</h5>
                <ul class="certif02">
                  <li>코로나19 예방접종 예약 완료 후 휴대폰번호로 예약정보가 전송되며, 홈페이지의 ‘예약 조회/변경/취소’메뉴에서 본인인증이 가능한 정보(이름, 주민등록(외국인 등록)번호, 예약번호)의 입력을 통하여 예약정보의 확인, 변경 및 취소 가능</li>
                </ul>
              </div><!-- //step-right -->
            </div><!-- //support-step -->
            <ul class="warn-list support-warning">
              <li>외국인의 경우 외국인등록번호 생년월일 끝자리로 ‘10부제’ 사전예약이 운영됩니다.</li>
              <li>건강보험 미가입 외국인은 가까운 ‘예방접종센터’로 예약해주세요.</li>
              <li>예약일시에 맞춰 선택한 접종기관으로 늦지 않게 방문해주세요.</li>
              <li>코로나19 예방접종 관련 궁금한 사항은 질병관리청 콜센터 ☎1339 혹은 지자체별 코로나19 예방접종 콜센터*로 문의하시기 바랍니다.
                <ul class="small-txt">
                  <li>* 지자체별 코로나19 예방접종 콜센터: 'ncvr.kdca.go.kr 누리집 접속>사전예약 바로가기>알림마당>콜센터 안내' 에서 확인 【한국어만 상담 가능】</li>
                </ul>
              </li>
            </ul>
          </div><!-- //wrap-support[lang-kr] -->
          <div id="lang-en" class="wrap-support">
            <h3 class="h3">How to make a COVID-19 Vaccine Appointment Online</h3>
            <p>COVID-19 vaccination appointments can be made online through the COVID-19 vaccination reservation system website (http://ncvr.kdca.go.kr), accessible on PC and mobile devices. There are two steps to the process.</p>
            <div class="step-onilne">
              <ol class="clearfix">
                <li>
                  <dl>
                    <dt>
                      <em>1</em>
                      <p>Verify identity</p>
                    </dt>
                    <dd>Mobile phone or joint certificate (공동인증서)</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>
                      <em>2</em>
                      <p>Enter personal information</p>
                    </dt>
                    <dd>Select date and time and hospital/clinic</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>
                      <em>3</em>
                      <p>Confirm appointment</p>
                    </dt>
                    <dd>Confirm appointment detail</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>
                      <em>4</em>
                      <p>Send the appointment information</p>
                    </dt>
                    <dd>You can check appointment detail or cancel your appointment online.</dd>
                  </dl>
                </li>
              </ol>
            </div><!-- //step-onilne -->
            <h4 class="title-step"><strong>Step 1</strong>(Enter appointment information)</h4>
            <div class="support-step clearfix">
              <div class="step-left">
                <img src="/cobk/images/egovframework/rte/rsrv/step01-1.jpg" alt="Verify your identity">
                <img src="/cobk/images/egovframework/rte/rsrv/step01-2.jpg" alt="Enter personal information">
              </div>
              <div class="step-right">
                <h5>01 Verify your identity</h5>
                <ul class="certif02">
                  <li>Select one of the five ways to verify your identity.</li>
                  <li><span>① Naver certificate, ② Kakao certificate, ③ PASS, ④ Joint Certificate, ⑤ Mobile phone verification.</span><br />
                  ※ Check expiration date of certificate to make sure it is valid</li>
                </ul>
                <h5>02 Enter personal information</h5>
                <ul class="certif02">
                  <li>After verifying your identity, enter your name, resident registration (foreigner registration) number, and mobile phone number and click the <span>&lsquo;Check Eligibility&rsquo;</span> button.</li>
                  <li>After checking eligibility, select the medical institution and appointment date and time, and click the <span>&quot;Reserve (or Make Appointment)&quot;</span> button</li>
                </ul>
              </div><!-- //step-right -->
            </div><!-- //support-step -->
            <h4 class="title-step"><strong>Step 2</strong>(Notice of completed appointment)</h4>
            <div class="support-step clearfix">
              <div class="step-left">
                <img src="/cobk/images/egovframework/rte/rsrv/step02-1.jpg" alt="Appointment notification screen">
                <img src="/cobk/images/egovframework/rte/rsrv/step02-2.jpg" alt="Send appointment information to mobile phone">
              </div>
              <div class="step-right">
                <h5>01 Appointment notification screen</h5>
                <ul class="certif02">
                  <li>In Step 2, you can check the your appointment details that you entered in step 1.</li>
                </ul>
                <h5>02 Send appointment information to mobile phone</h5>
                <ul class="certif02">
                  <li>You can send your appointment details to your mobile phone. You can check orcancel the appointment by verifying your identity with name, resident registration number/alien registration number, or appointment number in the &lsquo;Appointment Inquiry/Cancellation&rsquo; menu on the website.</li>
                </ul>
              </div><!-- //step-right -->
            </div><!-- //support-step -->
            <ul class="warn-list support-warning">
              <li>You can log onto the appointment system on the date that corresponds to the last digit of your date of birth according to your resident registration number or alien registration number.</li>
              <li>If you are not registered with the National Health Insurance, you will need to choose a nearby Vaccination Center for your appointment.</li>
              <li>Please arrive on time for your vaccine appointment.</li>
              <li>If you have any questions about COVID-19 vaccination, please contact Korea Disease Control and Prevention Agency (KDCA) at ☎1339 or each local government’s COVID-19 vaccination call center*
                <ul class="small-txt">
                  <li>* To check the phone number of your local government’s COVID-19 vaccination call center, visit NIP website ncvr.kdca.go.kr -> Click &lsquo;Make a vaccine appointment (사전예약 바로가기)&rsquo; -> Click &lsquo;Notice (알림마당)&rsquo; -> &lsquo;Call center information (콜센터 안내)&rsquo; 【Korean only】</li>
                </ul>
              </li>
            </ul>
          </div><!-- //wrap-support[lang-en] -->
        </div><!-- //tab-support -->
        <div class="btn-reservation"><a href="/cobk/rsrv/web/getVcnRsrvRgst2.do?tokKey=null">코로나19 예방접종 온라인 예약하러 가기</a></div>
      </div><!-- //content-box -->
    </div><!-- //wrap-cts -->
  </section>
      </div>
  </div>
  